#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#clock {
  text-anchor: end;
}

.clock {
  fill: white;
  font-size: 100;
  font-family: "System-Light";
}

.date {
  fill: white;
  font-size: 20;
}

#digits-separator {
  fill: white;
  font-size: 100;
  font-family: "System-Light";
}

.seconds {
  fill: white;
  font-family: "System-Light";
}
