.activity {
  fill: white;
  font-size: 20;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#battery {
  visibility: visible;
}

#clock {
  text-anchor: end;
}

.clock {
  fill: white;
  font-size: 100;
  font-family: "System-Light";
}

#date {
  visibility: visible;
}

.date {
  fill: white;
  font-size: 20;
}

#digits-separator {
  fill: white;
  font-size: 100;
  font-family: "System-Light";
}

#date__number-day {
  text-length: 32;
}

#date__number-month {
  text-length: 32;
}

.seconds {
  fill: white;
  font-family: "System-Light";
}
